{% extends "base.html"%}
{% block content%}
<body>
    <h1>Create a user</h1>

    <form method="POST">
    <div id="form">
        <label for="first_name">First Name</label><br>
            <input type="text" 
            name="first_name"
            id="first_name"
            placeholder="Please enter your first name" 
            size="50"><br>
        <label for="last_name">Last Name</label><br>
            <input type="text" 
            name="last_name"
            id="last_name"
            placeholder="Please enter your last name" 
            size="50"><br>
        <label for="image_url">Image URL</label><br>
            <input type="text" 
            name="image_url" 
            id="image_url"
            placeholder="Provide an image of this user" 
            size="50"><br>
  
    <button type="submit" class="btn-primary">Add</button>
</form>
</div>
   <a href="/">Go back</a>
</body>
</html>

{% endblock %}