{% extends "base.html"%}
{% block content%}
<body>
   
   <div class="container">

    <div class="row">
        <div class="col-sm" id="profile_actions">
    <img src="{{user.image_url}}" alt="Profile picture" width="150">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
       

    <form>
        <button class="btn btn-info" 
        formaction="/users/{{ user.id }}/edit" 
        formmethod="GET">Edit
    </button>
        <button class="btn btn-danger"
        formaction="/users/{{ user.id }}/delete"
        formmethod="POST">Delete
    </button>
    </form>
    </div>
    
    <div class="col-sm" id="user_posts">
        <h2>Posts</h2>
        <ul>
        {% for post in posts%}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}    
        </ul>
    <form>
        <button class="btn btn-info"
        formaction="/users/{{ user.id }}/posts/new"
        formmethod="GET">Add Post
    </button>
    </form>
    </div>
</div>

<a href="/">Go back to Users</a>
</body>
</html>
{% endblock %}