{% extends "base.html"%}
{% block content%}
<body>
    <div class="container-fluid">
    <h1>Edit user</h1>
    <form method="POST">
    <div id="form">
    
        <label for="first_name">First Name</label><br>
            <input type="text" 
            name="first_name" 
            id="first_name"
            placeholder="Please enter your first name" 
            size="50"
            value="{{ user.first_name}}"><br>
        <label for="last_name">Last Name</label><br>
            <input type="text" 
            name="last_name" 
            id="last_name"
            placeholder="Please enter your last name" 
            size="50"
            value="{{ user.last_name }}"><br>
        <label for="image_url">Image URL</label><br>
            <input type="text" 
            name="image_url" 
            id="image_url"
            placeholder="Provide an image of this user" 
            size="50"
            value="{{ user.image_url }}"><br>
    
    </div>

    <div id="profile_actions">
    <a href="/users" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-info">Save</button>


</form>
</div>
</div>
</body>
</html>

{% endblock %}